.form{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 350px;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid black;

}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .form form textarea{
    padding: 0px 0px 25px 0;
    border-radius: 4px;
    border: 1.5px solid black;
    font-size: 15px;
} */
.form form textarea{
    height: 50px;
}

.form h2{
    text-align: center;
}

.form form button{
    margin: 10px 40% 10px 40%;
    padding: 10px 10px;
    background: #243B52;
    border: black;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

@media(max-width: 550px){
    .form{
        padding: 30px 15px;
    }
}