header {
    width: 100%;
    background-color: #6fd1ff;
}
header nav {
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px;
}

a, ul {
    text-decoration: none;
    list-style: none;
}

header ul {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    color: black;
}